
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
$RECYCLE.BIN/
*.log
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
.DS_Store
.angular/
.tmp
/.idea
/.ionic
/.sass-cache
/.scannerwork
/.sourcemaps
/.versions
/.vscode
/android
/coverage
/dist
/node_modules
/platforms
/plugins
/www
Thumbs.db
UserInterfaceState.xcuserstate
coverage/
log.txt
node_modules/
npm-debug.log*
out-tsc/
platforms/
plugins/
www/
